head
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')

body
    +home

template(name='home')
    .ui.vertical.inverted.segment
        each filterlist
            .ui.inverted.compact.button.unfilterTag
                strong #{this}
                i.icon.remove
        each globalTags
            .ui.compact.secondary.button.filterTag
                |#{name}
                small #{count}
    .ui.inverted.segments
        each items
            .ui.segment
                +item

template(name='item')
    if isEditing
        .content
            +editing
            .extra
                .ui.basic.active.button.editing editing
    else
        .content
            .ui.large.grey.labels
                each tags
                    .ui.label #{this}
        +markdown
            #{body}
        .extra
            .ui.basic.button.edit edit
            i.fork.icon
            |clone
            i.thumbs.outline.up.icon
            |29 votes
            i.thumbs.outline.down.icon
            |43 votes

template(name='editing')
    .ui.form
        .field: select#tagselector.bs.ui.multiple.search(multiple='true')
            each tags
                option(value=this selected='selected')= this
        .field: textarea#itembodyarea.bs= body