head
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')


body
    +menu
    .ui.container.grid
        +home

template(name='menu')
    .ui.menu
        .item.header Facet
        .item
            +loginButtons
        a.item
            .add add

template(name='home')
    .ui.segment
        .tags
            each filterlist
                .ui.basic.button.unfilterTag
                    h4 #{this} X
            each globalTags
                .ui.basic.button.filterTag
                    h4 #{name} #{count}
    .ui.segment
        .ui.divided.items.ten.wide
            each docs
                .item
                    +doc

template(name='doc')
    .content
        if editing
            +edit
            .ui.toggle.button.active.save save
            .ui.button.delete delete
        else
            .content
                .header
                    .ui.large.horizontal.list
                        each tags
                            .item= this
                .meta
                    +markdown
                        #{body}
            .ui.toggle.button.edit edit

template(name='edit')
    .ui.form
        .field
            select#tagselector.ui.multiple.search(multiple='true')
                each tags
                    option(value=this selected='selected')= this
        .field
            textarea#docbodyarea= docbody