head
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
body
    +facet

template(name='facet')
    .ui.compact.inverted.fluid.menu
        a.item.header.home
             |facet
        +loginButtons
        unless $.Session.get 'editing'
            a.right.item.add
                i.add.icon 
    unless $.Session.get 'adding'
        .ui.attached.center.aligned.segment.tagCloud
            each selected
                .ui.compact.active.button.unselect
                    strong #{this}
            each tags
                .ui.compact.button.select
                    |#{name}
    .ui.center.aligned.segment
        if isEditing
            +editing
        else
            .ui.large.header.horizontal.list
                each tags
                    .ui.item #{this}
            .ui.container
                |{{nl2br body}}
            if isAuthor
                .ui.icon.small.button.edit
                    i.icon.pencil
template(name='editing')
    .ui.form
        .field: select#tagselector.bs.ui.multiple.search(multiple='true')
            each tags
                option(value=this selected='selected') #{this}
        .field: textarea.bs(placeholder='add markdown')  #{body}
    .ui.hidden.fitted.divider
    .bottomGroup
        .ui.icon.large.button.save
            i.checkmark.icon
        .ui.right.floated.icon.small.button.delete
            i.remove.icon
