head
    title Gold Run
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
    meta(name='apple-mobile-web-app-title', content='facet')

template(name='layout')
    .ui.two.item.menu
        a.header.item(href='/') Facet
        .item
            +loginButtons
    .ui.container.four.wide
        +yield

template(name='filter')
    .ui.segment
        span Author Filter
        each authorFilter
            .ui.tiny.button.icon.removeAuthorFilter
                i.icon.remove
            | #{this}
    .ui.segment
        span Tag Filter
        each tagFilterList
            .ui.tiny.button.icon.removeTagFilter
                i.icon.remove
            | #{this}
    .ui.horizontal.list
        each tags
            .item
                .ui.button.blue.label.addCloudTagFilter
                    |#{_id}
                    .detail #{count}

template(name='posts')
    .ui.segment
        +filter
    .ui.relaxed.divided.list.segment
        each posts
            .item
                .left.floated.content
                    if isOwner
                        .ui.button.negative.circular.icon.removePost.tiny
                            i.icon.remove
                    .ui.icon.label.button.vote.positive(class=voteclass)
                        i.icon.thumbs.up
                        .detail #{votes}
                .content
                    .ui.horizontal.list
                        each tags
                            .item
                                .ui.blue.inverted.button.addPostFilter #{this}
                    .ui.violet.inverted.button.addAuthorFilter by #{authorname}
                .right.floated.content
    if currentUser
        .ui.segment
            +quickForm collection='Posts' id='add' type='insert' fields='tags'
