head
    title Gold Run
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
    meta(name='apple-mobile-web-app-title', content='facet')

template(name='layout')
    .ui.three.item.menu
        a.header.item(href='/') Facet
        a.item(href='/new') New
        .item
            +loginButtons align="right"
    .ui.container.four.wide
        +yield

template(name='filter')
    .ui.horizontal.listS
        each authorFilter
            .ui.labeled.icon.button.removeAuthorFilter
                i.icon.user
                | #{this}
                i.icon.remove
        each tagFilterList
            .ui.labeled.icon.basic.button.removeTagFilter
                | #{this}
                i.icon.remove
    +reactiveBlockGrid cursor=tags template='tag' transitionDuration='.5s' layoutMode='fitRows' gutter=20 columnWidth='.gutter-width' cssClass='blocks'
template(name='docs')
    +filter
    .ui.relaxed.divided.list.segment
        each docs
            .item
                .left.floated.content
                    .ui.icon.basic.button
                        i.icon.dropdown
                    if isOwner
                        .ui.button.basic.icon.removeDoc
                            i.icon.remove
                    .ui.icon.large.label.basic.button.vote(class=voteclass)
                        i.icon.thumbs.up
                        .detail #{votes}
                .content
                    .ui.horizontal.list
                        each tags
                            .item
                                .ui.basic.button.addDocFilter #{this}
                    .ui.basic.button.addAuthorFilter
                        i.icon.user
                        |#{authorname}
    if currentUser
        .ui.segment
            +quickForm collection='Docs' id='add' type='insert' fields='tags'
template(name='tag')
    .ui.addCloudTagFilter.button.basic
        |#{_id}
        .detail #{count}