head
    title Gold Run
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='format-detection', content='telephone=no')

template(name='layout')
    .ui.menu
    .ui.container
        +loginButtons
        +yield

template(name='docs')
    .ui.segment
        .ui.horizontal.list
            each authorFilterList
                .ui.basic.button.removeAuthorFilter
                    h3 by #{this}
                    i.icon.remove
            each tagFilterList
                .ui.basic.button.removeTagFilter
                    h3 #{this}
                    i.icon.remove

    .ui.segment
        each globaltags
            .ui.addCloudTagFilter.button.basic
                h3 #{name}
                .detail #{count}
    .ui.segment
        .ui.cards
            each docs
                .ui.card
                    .content
                        .ui.horizontal.list
                            each tags
                                .item
                                    | #{this}
                        // .ui.icon.large.label.basic.button.vote(class=voteclass)
                        //     i.icon.thumbs.up
                        //     .detail #{votes}
                    .content
                        .ui.basic.button.addAuthorFilter
                            i.icon.user
                            |#{authorName}
                        if isOwner
                            .ui.button.inverted.icon.removeDoc
                                i.icon.remove
                            .ui.button.inverted.icon.editDoc
                                i.icon.edit
                        // .ui.horizontal.list
                        //     each personCloud
                        //         .item
                        //             | #{name}
                        //             .detail #{count}
    .ui.segment
        +quickForm collection='Docs' id='add' type='insert' fields='tags'