head
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
body
    +facet

template(name='facet')
    unless $.Session.get 'editing'
        .ui.attached.center.aligned.segment.tagCloud
            each selected
                .ui.compact.active.button.unselect
                    strong #{this}
            
            each tags
                .ui.compact.button.select
                    |#{name}
    each docs
        +doc
    .ui.compact.inverted.menu
        .item
            +loginButtons
        if currentUser
            unless $.Session.get 'editing'
                a.item.add add
template(name='doc')
    .ui.center.aligned.segment
        if isEditing
            +editing
        else
            .ui.large.header.horizontal.list
                each tags
                    .ui.item #{this}
            .ui.container
                |{{nl2br body}}
            if canEdit
                .ui.hidden.fitted.divider
                .ui.icon.small.button.edit
                    i.icon.pencil

template(name='editing')
    .ui.form
        +editableList collection="docs" field="tags"
        .field: textarea.bs #{body}
    .ui.hidden.fitted.divider
    .bottomGroup
        .ui.icon.large.button.save
            i.checkmark.icon
        .ui.right.floated.icon.small.button.delete
            i.remove.icon
