head
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
body
    +home

template(name='home')
    .ui.vertical.inverted.segment
        each filterlist
            .ui.inverted.compact.button.unfilterTag
                strong #{this}
                i.icon.remove
        each globalTags
            .ui.compact.secondary.button.filterTag
                |#{name}
                small #{count}
    .ui.segments.nope
        each items
            .ui.segment
                +item
    .ui.bottom.inverted.menu
        .item
            +loginButtons
        if currentUser
            a.item.add add

template(name='item')
    if isEditing
        .editarea
            +editing
    else
        .viewarea
            .ui.inverted.dimmer
            .content
                .ui.large.grey.labels
                    each tags
                        .ui.label.itemtag #{this}
            +markdown
                #{body}
            .extra
                if isOwner
                    .ui.basic.icon.button.edit
                        // i.edit.icon
                        |edit
                if canClone
                    .ui.basic.icon.button.clone
                        // i.fork.icon
                        |clone
                .ui.label #{points} points
                if canUpvote
                    .ui.basic.icon.button.upvote
                        i.thumbs.outline.up.icon
                        |#{upvotes}
                if canDownvote
                    .ui.basic.icon.button.downvote
                        i.thumbs.outline.down.icon
                        |#{downvotes}
                .ui.basic.icon.button.username
                    i.user.icon
                    |#{username}
                |#{when}

template(name='editing')
    .ui.form
        .field: select#tagselector.bs.ui.multiple.search(multiple='true')
            each tags
                option(value=this selected='selected')= this
        .field: textarea.bs(placeholder='add markdown')= body
    .ui.hidden.fitted.divider
    .extra
        .ui.basic.active.button.save
            |save
            small (ctrl-enter)
        .ui.basic.icon.button.delete
            i.remove.icon
            |delete
