head
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')


body
    .ui.menu
        .item.header Facet
        .item
            +loginButtons
    .ui.container
        +home

template(name='home')
    .tags
        each filterlist
            button.ui.basic.button.unfilterTag
                h4 #{this} X
        each gtags
            button.ui.basic.button.filterTag
                h4 #{name} #{count}
    .docs
        button.ui.basic.green.button.add add
        each docs
            .doc
                +doc
template(name='doc')
    if isEditing
        +editableList collection="docs" field="tags"
        +CodeMirror id="code" name="codename" options=editorOptions code=editorCode
        // textarea#body(rows='10')
        button.edit edit
        .buttons
            button.update update
            button.delete delete
    else
        each tags
            p= this
        #markdown
            |#{text}
template(name="editor")
    header.editor-header
        label(for="documentTitle") Title
        input(type="text", name="documentTitle", value="{{document.title}}")
        if saving
            span.save-state
                | Saving...
        else
            span.save-state.text-success
                | Saved
    .editor-preview
        .editor-wrap
            textarea#editor
        .preview-wrap
            #preview
