head
    title Facet
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')

body
    +layout

template(name='layout')
    .layout
        unless $.Session.get 'editing'
            +nav
        .ui.container
            +home

template(name='nav')
    .ui.lg.right.aligned.segment
        each selectedtags
            #toggleOff.ui.active.compact.button #{this}
        select#mainfilter.ui.search.input.dropdown
            each tags
                option(value=this.name) #{this.name}
    if currentUser
        .ui.inverted.borderless.bottom.fixed.menu
            .item #{user.username}
            unless $.Session.get 'editing'
                a#add.item Add

template(name='home')
    each posts
        .ui.segment.lg
            +post

template(name='post')
    if editing
        +edit
    else
        each tags
            .ui.compact.button.postTag(class=postTagClass) #{this}
        .ui.hidden.divider
        .froala-view !{body}
        .ui.hidden.divider
        if currentUser
            if isAuthor
                #edit.ui.small.compact.button Edit
            unless isAuthor
                #author.ui.compact.disabled.button by #{author.username}
            #clone.ui.small.compact.button Clone


template(name='edit')
    .content
        .ui.form
            .field
                select#tagselector.ui.multiple.search.simple.dropdown(multiple='true')
                    each tags
                        option(value=this selected='selected') #{this}
            .field
                textarea#editarea.bs #{body}
        .ui.hidden.divider
        .bottomGroup
            #save.ui.button Save
            #delete.ui.right.floated.small.compact.button Delete
