head
    title Facet
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')

template(name='layout')
    .layout
        +Template.dynamic template=nav
        +Template.dynamic template=content

template(name='nav')
    .ui.inverted.fixed.menu
        a#home.icon.item(href='/' class=homeclass) Home
        if currentUser
            unless $.Session.get 'editing'
                a#add.item Submit
            a#posts.item(class=mineclass) Mine
        .right.menu
            if currentUser
                a#leave.item Sign Out
            unless currentUser
                a.item(href='/sign-in') Sign In



template(name='home')
    unless $.Session.get 'editing'
        .ui.segment
            each selectedtags
                #toggleOff.ui.large.grey.compact.button
                    | #{this}
            each tags
                #toggleOn.ui.compact.button(class=toggleonclass)
                    |#{name}
                    small #{count}
    .ui.two.stackable.cards
        each posts
            .ui.card
                +post

template(name='post')
    if editing
        +edit
    else
        .content
            .header
                each tags
                    .ui.compact.button.postTag(class=postTagClass) #{this}
        .content
            .description.froala-view !{body}
        .content
            if isAuthor
                #edit.ui.right.floated.small.compact.button Edit
            unless isAuthor
                #author.ui.right.floated.compact.disabled.button by #{author.username}
            #clone.ui.right.floated.small.compact.button Clone


template(name='edit')
    .content
        .editable-list-reveal(style="margin:10px;color:grey;")
            +editableList collection="posts" field="tags" placeholder="New tag" horizontal=true hideInput=false class="ui large label" liStyle="margin:10px;" inputStyle="color:#000;" editStyle="height:18px;border:0;" objectTypeText="tag" allowPasteMultiple=true
        textarea#editarea.bs #{body}
        .ui.hidden.divider
        .bottomGroup
            #save.ui.button(class=saveclass) Save
            #delete.ui.right.floated.small.compact.button Delete
