head
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
body
    +menu
    .ui.main
        +cloud

template(name='menu')
    .ui.fixed.inverted.menu
        a.header.item.home Facet
        +loginButtons
        if currentUser
            unless $.Session.get 'editing'
                a.icon.item.add 
                    i.plus.icon

template(name='cloud')
    unless $.Session.get 'editing'
        .ui.attached.center.aligned.segment.tagCloud
            each selected
                .ui.compact.right.labeled.icon.active.button.unselect
                    i.minus.icon
                    | #{this}
            
            each tags
                .ui.compact.button.select
                    |#{name}
                    // small #{count}
    each docs
        +doc
template(name='doc')
    .ui.segment.docContent
        if isEditing
            +editing
        else
            .ui.text.container
                each tags
                    .ui.small.button.postTag(class=postButtonClass) #{this}
                .ui.hidden.divider
                .froala-view
                    |!{body}
                .ui.hidden.divider
                if canEdit
                    .ui.labeled.icon.button.edit
                        i.icon.pencil
                        |Edit
                .ui.labeled.icon.button.clone
                    i.fork.icon
                    |Clone


template(name='editing')
    .ui.form
        .field
            +editableList collection="docs" field="tags" liStyle="margin: 15px 5px 0 0;" class="ui header"
        .field
            textarea#edit.bs #{body}
    .ui.hidden.divider
    .bottomGroup
        .ui.labeled.icon.button.save
            i.checkmark.icon
            |Save
        .ui.right.floated.labeled.icon.button.delete
            i.remove.icon
            |Delete
