head
    title Facet
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
body
    +menu
    .layout
        +cloud

template(name='menu')
    .ui.borderless.inverted.attached.menu
        a.header.item.home Facet
        +loginButtons
        .item 
            if currentUser
                |#{points} points
        .right.menu
            if currentUser
                unless $.Session.get 'editing'
                    a.header.item.add 
                        i.plus.icon

template(name='cloud')
    unless $.Session.get 'editing'
        .ui.attached.center.aligned.segment.tagCloud
            each selected
                .ui.compact.right.labeled.icon.active.button.off
                    i.minus.icon
                    | #{this}
            
            each tags
                .ui.compact.button.on
                    |#{name}
                    // small #{count}
    each posts
        +post
template(name='post')
    .ui.segment.postContent.container
        if isEditing
            +editing
        else
            each tags
                .ui.small.compact.button.postTag(class=postTagClass) #{this}
            .ui.hidden.divider
            .froala-view !{body}
            .ui.hidden.divider
            .ui.button by #{author.username} #{author.points}
            .ui.labeled.icon.button.buy(class=buyButtonClass)
                i.arrow.up.icon
                |1
            if buyer
                |#{buyer}
            if canEdit
                .ui.labeled.icon.small.button.edit
                    i.icon.pencil
                    |Edit


template(name='editing')
    .ui.form
        .field
            label Tags
            +editableList collection="posts" field="tags" liStyle="margin: 15px 5px 0 0;" class="ui header"
        .field
            label Body
            textarea#edit.bs #{body}
        
        .field
            .ui.right.labeled.input
                .ui.basic.label value
                input#value(type='number' min='1' value=value name='points' placeholder='Value')
                .ui.basic.label points
    .ui.hidden.divider
    .bottomGroup
        .ui.labeled.icon.button.save
            i.checkmark.icon
            |Save
        .ui.right.floated.labeled.icon.button.delete
            i.remove.icon
            |Delete
