head
    title Facet
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')

template(name='layout')
    .layout
        +Template.dynamic template=nav
        +Template.dynamic template=content

template(name='nav')
    .ui.compact.lg.raised.segment
        each selectedtags
            #toggleOff.ui.active.button #{this}
        unless $.Session.get 'editing'
            if Template.subscriptionsReady
                select#mainfilter.ui.multiple.search.input(multiple='true')
                    each tags
                        option(value=this.name) #{this.name}
    if currentUser
        .ui.inverted.borderless.bottom.fixed.menu
            .item #{user.username}
            a#mine.item(class=mineclass) Mine
            unless $.Session.get 'editing'
                a#add.item Add
            .right.menu
                a#logout.item Sign Out

template(name='home')
    each posts
        .ui.top.attached.segment.lg
            +post

template(name='post')
    if editing
        +edit
    else
        .ui.header.big.horizontal.list
            each tags
                .ui.item #{this}
        .description.froala-view !{body}
        if currentUser
            if isAuthor
                #edit.ui.small.compact.button Edit
            unless isAuthor
                #author.ui.compact.disabled.button by #{author.username}
            #clone.ui.small.compact.button Clone


template(name='edit')
    .content
        .ui.form
            .field
                select#tagselector.ui.multiple.search(multiple='true')
                    each tags
                        option(value=this selected='selected') #{this}
            .field
                textarea#editarea.bs #{body}
        .ui.hidden.divider
        .bottomGroup
            #save.ui.button(class=saveclass) Save
            #delete.ui.right.floated.small.compact.button Delete
