head
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
body
    +home

template(name='home')
    .ui.compact.inverted.fluid.menu
        a.item.header.home
             |facet
        +loginButtons
        .item
            if currentUser
                h5 #{user.points}
        unless $.Session.get 'editing'
            a.right.item.add
                i.add.icon 
    unless $.Session.get 'adding'
        unless $.Session.get 'editing'
            .ui.attached.center.aligned.segment.tagCloud
                each selectedAuthor
                    .ui.compact.active.button.unselectAuthor
                        i.user.icon
                        strong #{this}
                each selectedTags
                    .ui.compact.active.button.unselectTag
                        strong #{this}
                each globalTags
                    .ui.compact.button.selectTag
                        |#{name}
    each items
        .ui.center.aligned.segment
            +item

template(name='item')
    if isEditing
        +editing
    else
        .ui.large.header.horizontal.list
            each tags
                .ui.item #{this}
        .ui.container
            |{{nl2br body}}
        .ui.hidden.divider
        if currentUser
            .itemModifiers
                if isAuthor
                    .ui.icon.small.button.edit
                        i.icon.pencil
                .ui.small.button.vote(class=voteButtonClass)
                    i.icon(class=voteIconClass)
                    | #{votes}
                .ui.small.button.username
                    i.user.icon
                    | #{author.username} #{author.points}
template(name='editing')
    .ui.form
        .field: select#tagselector.bs.ui.multiple.search(multiple='true')
            each tags
                option(value=this selected='selected') #{this}
        .field: textarea.bs(placeholder='add markdown')  #{body}
    .ui.hidden.fitted.divider
    .bottomGroup
        .ui.icon.large.button.save
            i.checkmark.icon
        .ui.right.floated.icon.small.button.delete
            i.remove.icon
