head
    title Facet
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
body
    +menu
    .layout
        +cloud

template(name='menu')
    .ui.inverted.attached.menu
        a#home.item Home
        .item
            +loginButtons
        if currentUser
            .item Points #{user.points}
            .item Rating #{user.rating}
            a.item Posts
            a.item Bids
            a.item Won

            unless $.Session.get 'editing'
                a#add.header.item Add Post


template(name='cloud')
    unless $.Session.get 'editing'
        each selectedtags
            #toggleOff.ui.right.labeled.icon.active.button
                i.minus.icon
                | #{this}
        each tags
            #toggleOn.ui.button
                |#{name}
                small #{count}
    .ui.cards
        each posts
            .ui.card
                +post


template(name='post')
        if editing
                +edit
        else
            .content
                if canEdit
                    a#edit.ui.right.floated
                        i.pencil.icon
                .header
                    .ui.large.horizontal.list
                        each tags
                            .ui.item #{this}
                .meta
                    |by #{author.username} #{author.rating}
                .description.froala-view !{body}
                .extra
                    if bidder
                        |High Bid: #{bid} by #{bidder.username} #{bidder.rating}
            if canBid
                #bid.ui.basic.blue.bottom.attached.button(class=bidclass)
                    i.legal.icon
                    |Bid #{bidamount}
            if canAccept
                #accept.ui.basic.bottom.attached.green.button
                    i.checkmark.icon
                    |Accept #{bid}
            if canRecommend
                .ui.slider.checkbox
                    input(type="checkbox", name="recommend")
                    label Recommend

template(name='edit')
    .content
        .ui.form
            .field
                label Tags
                +editableList collection="posts" field="tags" liStyle="margin: 15px 5px 0 0;" class="ui header"
            .field
                label Body
                textarea#editarea.bs #{body}
        .ui.hidden.divider
        .bottomGroup
            #save.ui.basic.green.button(class=saveclass) Save
            #delete.ui.right.floated.small.red.basic.button Delete
