head
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')


body
    +menu
    .ui.container
        +home

template(name='menu')
    .ui.menu
        .item.header Facet
        .item
            +loginButtons
        a.item
            .add add

template(name='home')
    .tags
        each filterlist
            .ui.basic.button.unfilterTag
                h4 #{this} X
        each gtags
            .ui.basic.button.filterTag
                h4 #{name} #{count}
    .docs
        .ui.cards
            each docs
                .card
                    +doc

template(name='doc')
    if editing
        +edit
    else
        .content
            .ui.large.horizontal.list
                each tags
                    .item= this
        .content
            #markdown
                |#{text}
    .extra.content
        .ui.buttons
            if editing
                .ui.toggle.button.active.stopEditing editing
                .ui.button.delete delete
            else
                .ui.toggle.button.edit edit
template(name='edit')
    .content
        select#tagselector.ui.multiple.search(multiple='true')
            each tags
                option(value=this selected='selected')= this