head
    title Facet
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')

template(name='layout')
    .layout.ui.container
        +Template.dynamic template=content

template(name='home')
    .ui.inverted.fixed.menu
        a#home.icon.item
            i.home.icon
        +loginButtons
        if currentUser
            a#posts.item Mine
            unless $.Session.get 'editing'
                a#add.item Add
    unless $.Session.get 'editing'
        .ui.segment
            each selectedtags
                #toggleOff.ui.large.grey.compact.button
                    | #{this}
            each tags
                #toggleOn.ui.compact.button(class=toggleonclass)
                    |#{name}
                    small #{count}
    .ui.cards
        each posts
            .ui.fluid.card
                +post

template(name='post')
    if editing
        +edit
    else
        .content
            if isAuthor
                #edit.ui.right.floated.small.compact.basic.button Edit
            unless isAuthor
                #author.ui.right.floated.compact.basic.button by #{author.username}
            #clone.ui.right.floated.small.compact.basic.button Clone
            .header
                each tags
                    .ui.compact.button.postTag(class=postTagClass) #{this}
        .content
            .description.froala-view !{body}


template(name='edit')
    .content
        .ui.form
            .editable-list-reveal(style="margin:10px;color:grey;")
                +editableList collection="posts" field="tags" placeholder="New tag" horizontal=true hideInput=false class="ui large basic label" liStyle="margin:10px;" inputStyle="color:#000;" editStyle="height:18px;border:0;" objectTypeText="tag" allowPasteMultiple=true
            .field
                textarea#editarea.bs #{body}
        .ui.hidden.divider
        .bottomGroup
            #save.ui.basic.button(class=saveclass) Save
            #delete.ui.right.floated.small.basic.compact.button Delete
