head
    title Facet
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
body
    +menu
    .layout
        +cloud

template(name='menu')
    .ui.borderless.inverted.attached.menu
        a.item.home Facet
        .item 
            +loginButtons
        if currentUser
            .item 
                |#{rating}
            unless $.Session.get 'editing'
                a.header.item.add 
                    i.plus.icon

template(name='cloud')
    unless $.Session.get 'editing'
        .ui.attached.center.aligned.segment.tagCloud
            each selected
                .ui.compact.right.labeled.icon.active.button.toggleOff
                    i.minus.icon
                    | #{this}
            
            each tags
                .ui.compact.button.toggleOn
                    |#{name}
                    small #{count}
    each posts
        +post
template(name='post')
    .ui.segment.postContent.container
        if editing
            +edit
        else
            each tags
                .ui.small.compact.button.titleTag(class=titleTagClass) #{this}
            
            .ui.hidden.fitted.divider
            .froala-view !{body}
            .ui.segment
                .ui.button by 
                    |#{author}
                    small #{authorob.rating}
            .ui.segment
                if joinable
                    .ui.labeled.icon.large.green.button.join
                        i.checkmark.icon
                        |Join
                if unjoinable
                    .ui.labeled.icon.large.yellow.button.unjoin
                        i.check.square.icon
                        |Leave
                |Joined: 
                each joined
                    .ui.label #{this}
            .ui.segment
                if likable
                    .ui.labeled.icon.large.green.button.like
                        i.thumbs.up.outline.icon
                        |Like
                if unlikable
                    .ui.labeled.icon.large.red.button.unlike
                        i.thumbs.up.icon
                        |Unlike
                |Liked: 
                each liked
                    .ui.label #{this}
            if canEdit
                .ui.small.button.edit edit


template(name='edit')
    .ui.form
        .field
            label Tags
            +editableList collection="posts" field="tags" liStyle="margin: 15px 5px 0 0;" class="ui header"
        .field
            label Body
            textarea#edit.bs #{body}
    .ui.hidden.divider
    .bottomGroup
        .ui.button.green.save
            |Save
        .ui.right.floated.small.red.basic.button.delete
            |Delete
