head
    title Gold Run
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
    meta(name='apple-mobile-web-app-title', content='facet')



template(name='layout')
    .ui.two.item.menu
        a.header.item(href='/') Home
        +loginButtons
    .ui.container
        +yield

template(name='posts')
    .ui.segment
        +quickForm collection="Posts" id="add" type="insert" validation='blur' buttonContent='Add Post'
    .ui.segment
        +tags
    .ui.relaxed.divided.list.segment
        each posts
            .item
                .left.floated.content
                    .ui.tiny.basic.icon.button.like
                        i.icon.thumbs.outline.up
                .ui.horizontal.list
                    each tags
                        .item
                            |#{this}
                .right.floated.content
                    if isOwner
                        .ui.button.icon.removePost.tiny
                            i.icon.remove

template(name='tags')
    .ui.segment
        p Current Filter:
            each filter
                button.ui.tiny.button.icon.removeTag
                    i.icon.remove
                | #{this}
    .ui.horizontal.list
        each tags
            .item
                .ui.button.label.ftag
                    span.id= _id
                    .detail= count
