head
    title facet
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')

body
    +layout

template(name='layout')
    .layout
        unless $.Session.get 'editing'
            +nav
        .ui.container
            +home

template(name='nav')
    .ui.tertiary.right.aligned.segment
        if selectedtags
            #clear.ui.circular.icon.basic.button: i.remove.icon
        each selectedtags
            #toggleOff.ui.active.basic.compact.button #{this}
        select#mainfilter.ui.search.input.dropdown
            each tags
                option(value=this.name) #{this.name}
        if currentUser
            a#add.ui.basic.compact.button add
        .ui.label
            +loginButtons align='right'

template(name='home')
    each posts
        .ui.segment.secondary
            +post

template(name='post')
    if editing
        +edit
    else
        .ui.two.column.centered.grid
            .column
                each tags
                    .ui.compact.basic.button.posttag(class=posttagclass) #{this}
        .ui.hidden.divider
        .froala-view !{body}
        .ui.hidden.divider
        if currentUser
            if isAuthor
                #edit.ui.basic.compact.button edit
            #clone.ui.basic.compact.button clone

template(name='edit')
    .content
        .ui.form
            .field
                select#tagselector.ui.multiple.search.dropdown(multiple='true')
                    each tags
                        option(value=this selected='selected') #{this}
            .field
                textarea#editarea.bs #{body}
        .ui.hidden.divider
        .bottomGroup
            #save.ui.button Save
            #delete.ui.right.floated.small.compact.button Delete
