head
    title facet
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon-194x194.png', sizes='194x194')
    link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/manifest.json')
    meta(name='apple-mobile-web-app-title', content='facet')
    meta(name='application-name', content='facet')
    meta(name='msapplication-TileColor', content='#00a300')
    meta(name='msapplication-TileImage', content='/mstile-144x144.png')
    meta(name='theme-color', content='#ffffff')

body
    unless $.Session.get 'editing'
        +nav
    .ui.container
        +posts

template(name='nav')
    .ui.attached.menu
        a#clear.ui.item Facet
        .item
            +loginButtons
        if currentUser
            a#add.item Add
            a#mine.item Mine
        .ui.inverted.input.item
            +inputAutocomplete settings=settings id='search' class='' placeholder="search or 'clear'" autofocus=''

    .ui.secondary.attached.segment
        each selectedAuthor
            .unselectAuthor.ui.active.button
                i.user.icon
                strong #{this}
        each selectedTags
            .toggleOff.ui.active.button #{this}
        each displayedtags
            .ui.button.hometag
                |#{this.name}
                // small #{this.count}

template(name='posts')
    each posts
        .ui.segment
            +post

template(name='post')
    if editing
        +edit
    else
        each tags
            .ui.compact.button.posttag(class=posttagclass) #{this}
        .actions
            if isAuthor
                a#edit.ui.icon.circular.button edit
            else
                .author.ui.button(class=authorButtonClass)
                    i.user.icon
                    |by #{author.username}
            if currentUser
                .clone.ui.circular.button clone
        .ui.hidden.fitted.divider
        +markdown
            #{body}

template(name='edit')
    .content
        .ui.form
            .field
                select#tagselector.ui.multiple.search.dropdown(multiple='true' autofocus='')
                    each tags
                        option(value=this selected='selected') #{this}
            .field
                +CodeMirror id='codebody' name='codemirror' options=editorOptions code=body
        .ui.hidden.divider
        .bottomGroup
            #save.ui.button Save
            unless $.Session.get 'adding'
                #cancel.ui.small.compact.button cancel
            #delete.ui.right.floated.small.compact.button
                if $.Session.get 'adding'
                    |Cancel
                else
                    |Delete


template(name='tagresult')
    .ui.large.label #{name} #{count}